# Values and Types

In [5]:
#Integer Values
print(5)

#String Values
print("Hello World")
print('Welcome to Python Valley, The Place of Fun')

#Floating Point Values
print(3.5)

#Mind the qouts around a number, its a string
print("1234")
print(1234)

#Boolean value
print(False)

#Tricky Integer Number. "," will tell the interpreter that these three different numbers
print(3,120,000)

5
Hello World
Welcome to Python Valley, The Place of Fun
3.5
1234
1234
False
3 120 0

# To get the type of a value

In [6]:
print(type(45))
print(type("45"))
print(type(45.543))
print(type(True))
#type(45)

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [7]:
#Integer Values
print(type(5))

#String Values
print(type("Hello World"))
print(type("Welcome to Python Valley, The Place of Fun"))

#Floating Point Values
print(type(3.5))

#Mind the qouts around a number, its a string
print(type("1234"))

#Boolean value
print(type(True))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>

# Variables

In [8]:
greeting = "Welcome to my Class, My dear Students"     #A string type Variable
Marks = 750      #An Integer Variable
CGPA = 3.5       #A float Variable
Pass = True      #A boolean Variable

print(greeting)
print(Marks)
print(CGPA)
print(Pass)

# Print the Type of All the Above Variables
print(type(greeting))
print(type(Marks))
print(type(CGPA))
print(type(Pass))

Welcome to my Class, My dear Students
750
3.5
True
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Variable Naming Rules

In [ ]:
# and       del     from     None     True 
# as        elif    global   nonlocal try
# assert    else    if       not      while
# break     except  import   or       with
# class     False   in       pass     yield
# continue  finally is       raise
# def       for     lambda   return

In [4]:
9Marks=780  #invalid

print(Marks)

SyntaxError: invalid syntax (<ipython-input-4-d9dfed68d0c1>, line 1)

In [3]:
marks=670
print(marks)

670

# Statements 
A Statement is a unit of code that python interpreter can execute

In [9]:
print(1)
print("Hello")
x = 5
x = 10
print("x")

1
Hello
x

# Operators and Operands (Arithmetic Operators)
# Operators are special Symbols that represent computations i.e addition and multiplication. The values the operators are applied to are called Operands

In [10]:
num1 = 10
num2 = 3
result = num1 + num2
print("result = ", result)
result = num1 - num2
print("Subtraction >> ", result)
result = num1 * num2
print("Multiplication >> ", result)
result = num1 / num2
print("Division (float) >> ", result)
result = num1 // num2
print("Division (integer) >> ", result)
result = num1 % num2
print("Division (Remainder) >> ", result)
result = num1**num2
print("Exponentiation >> ", result)

result =  13
Subtraction >>  7
Multiplication >>  30
Division (float) >>  3.3333333333333335
Division (integer) >>  3
Division (Remainder) >>  1
Exponentiation >>  1000

In [11]:
# Increment decrement operators
x = 10
print("Value of x = ", x)
x = x+1
print("Value of x = ", x)
x +=1
print("Value of x = ", x)
x+=10
print("Value of x = ", x)

x =+2
print("Value of x = ", x)

Value of x =  10
Value of x =  11
Value of x =  12
Value of x =  22
Value of x =  2

# Expressions 
# A combination of values, variables and operators 
# A value or variable itself is consider as an expression 
# Different types of Expression (Arithmetic, Relational, Logical)

In [12]:
print(2+4)
Basic = 25000
tax = 1500
Salary = Basic - tax
print(Salary)

6
23500

# Order of Operators (Precedence Rules)

In [13]:
# PEMDAS rules are observed by Python for Arithmetic Expression Evaluation
print(2+3*4)
print((2+3)*4)
print(2*(3-1))
print(1+1**5-2)
print((1+1)**(5-2))

# Parentheses are also used to make the expressions easier for reading
minutes = 45
print(minutes*100/60)
print((minutes*100)/60)

# Quotient and Remainder

quotient = 7//3
remainder = 7%3
floatResult = 7/3
print("Quotient is ",quotient, "and Remainder is ", remainder)
print("Division result in float is ", floatResult)

14
20
4
0
8
75.0
75.0
Quotient is  2 and Remainder is  1
Division result in float is  2.3333333333333335

# String Operations

In [14]:
# Operation on Strings
print("I Like Programming")
print("I Like Python")
print("I Like Programming,"+" I Like Python")
#print("Programmer " + 2018)
print("Programmer", 2018)

I Like Programming
I Like Python
I Like Programming, I Like Python
Programmer 2018

In [15]:
first = 100
second = 120
print(first + second)
first = '100'
second = '120'
print(first + second)

first = 'Test '
second = 4
print(first * second)

220
100120
Test Test Test Test

# String Control Codes

In [4]:
#print('A\nB\nC')
#print('D\tE\tF')
#print('WX\bYZ')
print('1\a2\a3\a4\a5\a6')

123456

In [16]:
print("Did you know that 'word' is a word?")
print('Did you know that "word" is a word?')
print('Did you know that \'word\' is a word?')
print("Did you know that \"word\" is a word?")

Did you know that 'word' is a word?
Did you know that "word" is a word?
Did you know that 'word' is a word?
Did you know that "word" is a word?

# Controling the Print Function

In [17]:
print('This is first Message : ', end='')
print('This is Second Message ')

This is first Message : This is Second Message

In [18]:
print('A', end='')
print('B', end='')
print('C', end='')
print()
print('X')
print('Y')
print('Z')

ABC
X
Y
Z

In [19]:
w, x, y, z = 10, 15, 20, 25
print(w, x, y, z)
print(w, x, y, z, sep=',')
print(w, x, y, z, sep='')
print(w, x, y, z, sep=':')
print(w, x, y, z, sep='-----')

10 15 20 25
10,15,20,25
10152025
10:15:20:25
10-----15-----20-----25

# Taking Input from User in Python

In [ ]:
# Python built-in function "input()" is used for taking input

inp = input()
print("You Entered the Text : " + inp)

In [1]:
# Good Programming Tip : Always Print a Message Before Taking Input
text = input("Please Enter a Message : ")
print("Your Text is : ", text)

Please Enter a Message : this is message
Your Text is :  this is message

In [2]:
# For getting Numeric Values , Always Convert them to required type, as input() function always return string,
# no matter whatever you type
hours = input("How many Hours You Worked ? ")
rate = input("What is the Rate per Hour ? ")
#salary = hours * rate

salary = int(hours) * int(rate)
print("Your Salary is : ", salary)

How many Hours You Worked ? 6
What is the Rate per Hour ? 15
Your Salary is :  90

# Naming Variable Conventions

In [3]:
a = 35.0
b = 12.50
c = a * b
print(c)

hours = 35.0
rate = 12.50
pay = hours * rate
print(pay)


x1q3z9ahd = 35.0
x1q3z9afd = 12.50
x1q3p9afd = x1q3z9ahd * x1q3z9afd
print(x1q3p9afd)

437.5
437.5
437.5